# Node / Angular
node_modules/
dist/
.angular/

# Java / Spring Boot
target/
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# Python / AI
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDEs / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

*.sh